:root{
    font-size:100px;
}
*{
    margin:0rem;
    padding:0rem;
}
.heading{
    margin-left:5.5rem;
    margin-top:0.45rem;
    font-size:0.2rem;
}
.sub-head{
    font-size:0.3rem;
    margin-top:0.2rem;
    margin-left:8.6rem;
}
/* navbarstart */
.navBar{
    height:0.5rem;
    background-color:#000080;
  }
  .home, .biog{
    font-size:0.18rem;
    margin-top:0.15rem;
    float:left;
  }
  .home{
    margin-left:8.65rem;
    color:#008000;
  }
  .biog{
    color:white;
    margin-left:0.4rem;
  }
  /* navbarend */

  /* box styling */
  .parent{
    
    margin:auto;
    margin-top:0.3rem;
    background-color:#99D8CA;
    height:2rem;
    width:2rem;
    box-shadow: inset 0 0 0 0.1rem #5873E2;
    border: 0.08rem solid black;
    border-radius: 0.07rem;
    outline: 0.15rem solid #90FFA9;

    
  }
  /* box styling */
  .colorGrading{
    font-size:0.15rem;
  }
  .dot1, .dot2, .dot3, .dot4{
    margin-top:0.5rem;
    margin-left:0.9rem
  }
  .dot1{
    margin-left:7rem;
    height: 0.2rem;
    width: 0.2rem;
    background-color: #99D8CA;
    border-radius: 50%;
    display: inline-block;
    border: 0.01rem solid black;
  }
  .dot2{
    height: 0.2rem;
    width: 0.2rem;
    background-color: #0D1430;
    border-radius: 50%;
    display: inline-block;
  }
  .dot3{
    height: 0.2rem;
    width: 0.2rem;
    background-color: #90FFA9;
    border-radius: 50%;
    display: inline-block;
    border: 0.01rem solid black;
  }
  .dot4{
    height: 0.2rem;
    width: 0.2rem;
    background-color: #5873E2;
    border-radius: 50%;
    display: inline-block;
    border: 0.01rem solid black;
  }
  p{
    margin-top:0.01rem;
    margin-left:0.25rem;
  }
  .dashed-line{
    margin-left:2rem;
    margin-top:0.5rem;
    margin-right:2rem;
    border: 0.01rem dashed black;
  }
  .subHeading2{
    text-align:center;
    font-size:0.3rem;
    margin-top: 0.7rem;
  }
  .topBox{
    width:70%;
    height:3rem;
    border: 2px solid black;
    margin-left:2.5rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
  }
  .box{
    width:32%;
    float:left;
    background-color:lightblue;
    height:2.9rem;
    margin-left:0.12rem;
    margin-top:0.05rem;
  }
  .bottomBox{
    width:70%;
    height:3rem;
    border: 0.02rem solid black;
    margin-left:2.5rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
  }
  .box1{
    width:32%;
    float:left;
    background-color:lightblue;
    height:2.9rem;
    margin-left:0.12rem;
    margin-top:0.05rem;
    border: 0.01rem solid black;
  }
